@page
@using Packt.Shared;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Northwind.Web.Pages.SuppliersModel

    <div class="row">
        <h1 class="display-2">Suppliers</h1>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
                <th>Country</th>
                <th>Phone</th>
            </tr>

            </thead>
            <tbody>
                @if (Model.Suppliers is not null)
                {
                    @foreach (Supplier supplier in Model.Suppliers)
                    {
                    <tr>
                       <td>@supplier.SupplierName</td>
                        <td>@supplier.Country</td>
                        <td>@supplier.Phone</td>
                    </tr>

                    }
                }
            </tbody>
        </table>
    </div>


<div class="row">
    <p>Enter details for a new supplier:</p>
    <form method="POST">
        <div>
            <input asp-for="Supplier.SupplierName" placeholder="Company Name" />
        </div>
        <div>
            <input asp-for="Supplier.Country" placeholder="Country" />
        </div>
        <div>
            <input asp-for="Supplier.Phone" placeholder="Phone" />
        </div>
        <input type="submit" />
    </form>
</div>


